<section id="plofile" class="wrapper">
  <h2 class="sec-title">Plofile</h2>
  <div class="flex">
    <ul>
      <li><%= image_tag 'programing.png', width: '80%', height: '80%' %></li>
    </ul>
    <ul>
      <li><%= @name %></li>
      <li><%= @address %></li>
      <li>tel: <%= @tel %></li>
      <li>mail: <%= @email %></li>
      <p>
        福岡県出身のエンジニア。好きなものはラーメンとじゃがりこ。<br>
        大学で経営情報学を学び、新卒でIT企業に入社。実務経験は2年目であるが、バックエンドからフロントエンド、バージョンアップなど幅広く経験してきました。
      </p>
    </ul>
  </div>
</section>
