<section id="plofile" class="wrapper">
  <h2 class="sec-title">Plofile</h2>
  <div class="flex">
    <ul>
      <li><%= image_tag 'programing.png', width: '80%', height: '80%' %></li>
    </ul>
    <ul>
      <li><%= @name %></li>
      <li><%= @address %></li>
      <li>tel: <%= @tel %></li>
      <li>mail: <%= @email %></li>
      <p>
        プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </ul>
  </div>
</section>
