<section id="works" class="wrapper">
  <h2 class="sec-title">Works</h2>
  <ul>
    <li><%=image_tag 'design.png', width: '70%', height: '70%' %></li>
    <li><%=image_tag 'design.png', width: '70%', height: '70%' %></li>
    <li><%=image_tag 'design.png', width: '70%', height: '70%' %></li>
    <li><%=image_tag 'design.png', width: '70%', height: '70%' %></li>
    <li><%=image_tag 'design.png', width: '70%', height: '70%' %></li>
    <li><%=image_tag 'design.png', width: '70%', height: '70%' %></li>
  </ul>
</section>
